* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: poppins;
}

header {
    background: linear-gradient(rgba(12, 12, 12, 0.3), rgba(0, 0, 0, 0.3)), url(bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.nav-mainu {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 20%;
}

.logo img {
    height: 100px;
    width: 100px;
}

ul {
    list-style: none;
    display: flex;

}

ul li {
    padding: 20px 20px;
}

.nav-main a {
    text-decoration: none;
    color: white;
}

.nav-link::after {
    content: " ";
    height: 3px;
    width: 0%;
    background-color: red;
    margin: auto;
    display: block;
    transition: all 0.3s;
}

.nav-link:hover::after {
    width: 100%
}

.content {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-main {
    text-align: center;
}

.text-main h1 {
    padding: 20px;
    color: white;
    font-size: 42px;
}
.text-main p {
    padding: 20px 20px;
    color: white;
    padding-bottom: 40px;
}

.text-main a {
    padding: 10px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    transition: 0.3s;

}

.text-main a:hover {
    background-color: red;
    border: none;
}

.container
{
    width: 100%;
    padding: 50px 0px;
}

.container .col
{
    width: 80%;
    margin: auto;
    text-align: center;
}
.container .col .boxs
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container .col  .box
{
    margin: 10px;
    border-radius: 10px;
 
}
 
.container .col  .box:hover
{
    box-shadow: 0px 0px 15px gray;
}
.container .col  .box p
{
    padding: 10px 10px 0px 0px;
}


.row {
    display: flex;
margin: auto;
width: 79%;
justify-content: space-evenly;
position: relative;
}
.course-colum img{
   height: 300px;
   width: 400px;
}
.layer{
     height: 300px;
     width: 400px;
     background-color:  rgba(199, 0, 0, 0.735);
     position: absolute;
     top: 0%;
     opacity: 0;
}
.layer  h3{
    position: absolute;
    left: 50%;
    bottom: 0%;
    color: white;
    transition: all 0.3s;
    transform: translateX(-50%);
}
.layer:hover{
    opacity: 1;

}
.layer:hover h3{
    bottom: 50%;
}
.branch-main {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 20px;
}
h1{
    text-align: center;
    padding-top: 90px;
}
p{text-align: center;}
.main-faci{
    width:77%;
 
    display: flex;
    margin: auto;
    padding-top: 90px;   
    justify-content: space-around;
}
.main-colum img{
    height: 300px;
    width: 400px;
    border-radius: 25px;
 }
 .main-colum  .one p{
    width: 90%;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.153);
    padding: 10px 5px 10px 5px;
    border-radius: 25px;
    justify-content: space-around;
      margin-top: 5%;
 }
  .main-text{
    width: 79%;
    margin: auto;
    display: flex;
 padding: 20px 20px 20px 50px;
}
.main-text p{
    background-color: aqua; 
}
.review{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;

}
.rev-one img{
   height: 120px;
   width: 120px;
   margin-top: 8%;
}
.rev-one .img img{
    border-radius: 50%;
}
.rev-one{
    display: flex;
    background-color:whitesmoke;
    width: 40%;
    text-align: left;
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
    
}
.rev-one .text{
padding: 10px 0px 0px 20px;
}
.rev-one p{
    text-align: left;
    padding: 5px 5px 15px 0px;
    
}
.rev-one i {
    color:#ff9933d2;   
}
.text{
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 90px;
}
.text p{
    text-align: left;
}
.last-text p{
    text-align: left;
   
}
.last-text{
    padding-left: 30px;
}
.last-content1{
    display: flex;
    background-color: aliceblue;
    width: 40%;
    padding-top: 20px;
    padding-bottom: 10px;
}
.shape{
    height: 40px;
    width: 40px;
    background-color:rgb(191, 227, 239);
    border-radius: 50%;
    margin-top: 1%;
}
.shape i{
    padding: 10px 10px 10px 12px;
    color: rgba(5, 184, 249, 0.73);
    font-size: 20px;
}
.last-content2{
    display: flex;
    background-color: aliceblue;
    width: 40%;
    padding-top: 20px;
    padding-bottom: 10px;
}
 .last-content2 .shape{
    height: 40px;
    width: 40px;
    background-color:rgb(191, 227, 239);
    border-radius: 50%;
    margin-top: 1%;
}
.last-content2 .shape i{
    padding-left: 10px;
    color: rgba(5, 184, 249, 0.73);
    font-size: 20px;
}
.last-content3{
    display: flex;
    background-color: aliceblue;
    width: 40%;
    padding-top: 20px;
    padding-bottom: 10px;
}
 .last-content3 .shape{
    height: 40px;
    width: 40px;
    background-color:rgb(191, 227, 239);
    border-radius: 50%;
    margin-top: 1%;
}
.last-content3 .shape i{
    padding: 10px 10px 10px 12px;
    color: rgba(5, 184, 249, 0.73);
    font-size: 20px;
}
iframe{
    height: 250px;
    width: 450px;
    padding-top: 20px
}
.footer{
 
    width: 80%;
    
    margin: auto;
}
.footer-content1{
    background-color: aliceblue;
 padding: 20px 20px 30px 30px;
}
.footer-content2{
    background-color: aliceblue;
 padding: 20px 20px 30px 30px;
 width: 40%;
}
.footer-content2 input{
    width: 250px;
    height: 35px;
    border:  1px solid grey;
    margin-top: 1%;
    margin-bottom:4%;
}

.footer-text{
    float: right;
   height: 300px;
   margin-top: -3.9%;
margin-right: 18%;
  
}
.footer-text input{
   margin-top: 3%;
   width: 240px;
   height: 35px;
}

.footer
 {
   width: 80%;
   margin: auto;
   padding: 10PX 10PX ;
   display: flex;
   justify-content: space-between;
 }              
.loc
{
    width: 100%;
    padding: 15px 00px;

}
.map iframe
{
    width: 100%;
    height: 300px;
    padding: 10px 0px ;
} 

  .box1
{
    padding: 10px 20px ;
    background-color: #fff;
    width: 38%;
    box-shadow: 0px 0px 10px black;
    padding:30px 20px;

}
 

.footer .box2
{
    padding: 10px 20px ;
    background-color: #fff;
    width: 58%;
    height: 600px;
    box-shadow: 0px 0px 3px black;
    padding: 30px 20px;
}


.loc2 input .name
{
    width: 30%;
}

input
{
    border: 1px solid grey;
    height: 30px;
    width: 100%;
}

.name
{
    display: flex; justify-content: space-between;
}

.name1
{
    display: flex; justify-content: space-between; width:67%; margin-bottom: 10px;
}

.name input
{
    display: inline; width: 48%; margin-bottom: 10px;
}


.name input .msg
{
    height: 350px;
}

button
{
    background-color: lightskyblue;
    
    padding: 20px 10px ;
    margin-top: 5%;
    margin-left: 40%;
    border-radius: 20px;
}
.name2
{
    padding: 10px 10px ;
}
.name2 h3
{
    padding: 10px 10px ;
}

.name4
{
    padding:10px 10px;
}

.name4 h3
{
    padding:10px 10px;
}

button:hover
{
    background-color: red;
    color: white;
    border: none;
   
}  */


    .para
    {
        padding: 10px;
        color: black;
    }
.footer 
 {
   width: 80%;
   margin: auto;
   height: 650px;
   padding: 10px 10px;
   display: flex;
   justify-content: space-between;
 }              
.loc
{
    width: 100%;
    padding: 15px 00px;

}
.map iframe 
{
    width: 100%;
    height: 300px;
    padding: 30px 0px ;
}

.box1
{
    /* padding: 10px 20px ; */
    background-color: #fff;
    width: 38%;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    padding: 30px 20px;

}

 .footer .box2
{
    
    background-color: #fff;
    width: 58%;
    height:634px;
    box-shadow: 0px 0px 10px black;
    padding: 30px 20px;
}

